.body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  h1 {
    font-weight: 900;
    text-align: center;
    background-color: white;
  }

  h2{
    font-weight: 500;
    text-align: center;
    
  }
  
  h3{
    font-weight: 900;
    text-align: center;
  }
  body {
    background-color:lightgray;
  }
  
  .page {
    width: 1005px;
    background-color:rgb(252, 207, 207);
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    /* padding-top: 40px; */
  }
  
  .vis-container {
      width: 100%;
      padding: auto;
  }

  .vis-container2 {
    width: 100%;
    padding: auto;
    margin-top: 10px;
}
  
  .description h2,
  h1 {
    margin-top: 0px;
  }
  
  .description-right {
    padding-left: 20px;
  }
  
  .description-left {
    padding-right: 20px;
  }
  
  .pure-g {
    margin-bottom: 25px;
  }

  .pure-u-1 img {
    width: 100%;  
    padding-left: 0vw;
}

  .covid-19_text {
    color: #d13141;
    font-style: bold;
}

  .europe_text{
    color:#8dd3c7;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .asia_text{
    color:#fa9fb5;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .north_text{
    color:#bebada;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .south_text{
    color:#fb8072;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .africa_text{
    color:#80b1d3;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .aus_text{
    color:#fdb462;
    font-family: 'Helvetica Neue', sans-serif;
  }
  .small-font{
    font-size: 14px;
}

